// #region РАСШИРЕНИЯ
@mixin pc {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 525px) {
    @content;
  }
}

@mixin mobile-mid {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin mobile-min {
  @media (max-width: 375px) {
    @content;
  }
}
// #endregion

// #region ЦВЕТА
$transparent_red: #e8dbdb;
$black: #050505;
$gray: #141414;
$gray_btn: #181818;
$border_gray: #292929;
// #endregion

//#region ВСПОМОГАТЕЛЬНЫЕ ЭЛЕМЕНТЫ

$greenGradient: linear-gradient(to right, #04d404 4.77%, #026e02 94.98%);
$grayGradient: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0.32) 0%,
  rgba(255, 255, 255, 0.0384) 100%
);

.green_text {
  color: #04d404;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: $black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(to right, #04d404 4.77%, #026e02 94.98%);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@mixin grayBtn {
  background-color: $black;
  border: 1px solid $border_gray;
  border-radius: 10px;
  &:active {
    background-color: white;
    color: black;
  }
}

@mixin greenBtn {
  border: none;
  background: $greenGradient;
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  @include tablet() {
    padding: 16px 24px;
  }
}

.gradient-container {
  width: 100%;
  height: 100%;
  padding: 1px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  @include pc {
    height: auto;
  }
}

@mixin gradient_border($color) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: $color;
  z-index: 0;
  transition: 0.1s;
}

@mixin shadow_box {
  background: linear-gradient(134.17deg, #ececec 4.98%, #e7e7e7 94.88%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75),
    inset 5px 5px 10px rgba(166, 180, 200, 0.75);
}

.gradient-border {
  @include gradient_border($grayGradient);
}

.hide_on_mobile {
  display: none !important;
}

.hide_on_laptop {
  @include laptop() {
    display: none !important;
  }
}

.hide_on_tablet {
  @include tablet() {
    display: none !important;
  }
}

@mixin goBack-btn {
  color: #f5f5f5;
  padding: 12px 24px;
  border-radius: 10px;
  border: 1px solid $border_gray;
  background-color: $black;
}

.show_on_tablet {
  display: none;
  @include tablet() {
    display: block;
  }
}

.hidden {
  display: none !important;
}

// #endregion

@include tablet {
  html {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: black;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  width: fit-content;
  @include mobile() {
    font-size: 16px !important;
  }
}

h1 {
  font-weight: 600;
  font-size: 55px;
  text-align: center;
  @include tablet() {
    font-size: 36px;
  }
  @include mobile() {
    font-size: 24px;
  }
}

h2 {
  font-weight: 600;
  text-align: center;
  font-size: 50px;
  @include tablet() {
    font-size: 28px;
  }
  @include mobile() {
    font-size: 20px;
  }
}

h3 {
  font-weight: 600;
  font-size: 24px;
  @include tablet() {
    font-size: 22px;
  }
  @include mobile() {
    font-size: 16px;
  }
}

p {
  font-size: 18px;
  @include tablet() {
    font-size: 16px;
  }
  @include mobile() {
    font-size: 14px;
  }
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
  @include mobile() {
    font-size:  18px;
  }
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 150px 20px;
  position: relative;
  height: 100%;
  @include tablet() {
    padding: 50px 20px;
  }
  @include mobile() {
    padding: 30px 10px;
  }
}

.homepage {
  color: white;
  background-color: black;
  z-index: 1;
  position: relative;
  min-height: 100vh;
  .container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto auto;
    gap: 1rem;
    padding: 20px 20px 100px;
  }
  &__logo-wrapper {
    display: grid;
    place-items: center;
    video,
    img {
      width: 25rem;
      @include tablet() {
        width: 20rem;
      }
    }
  }

  &__maincontent {
    text-align: center;
    height: 100%;
    h1 {
      margin-bottom: 1.875rem;
    }

    p {
      margin-bottom: 5rem;
    }

    button {
      @include greenBtn();
      margin: 0 auto;
    }
  }

  &__statistics {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    .big_text {
      font-size: 85px;
    }

    .gray_text {
      opacity: 0.6;
      font-weight: 400;
    }
    .line {
      width: 1px;
      height: 100px;
      background-color: $border_gray;
    }
    &--left {
      text-align: right;
      display: flex;
      flex-direction: column;
    }

    &--right {
      text-align: left;
      display: flex;
      flex-direction: column;
    }

    @include tablet() {
      .big_text {
        font-size: 50px;
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      &--left {
        text-align: left;
      }

      .line {
        height: 1px;
        width: 100%;
      }
    }

    @include mobile() {
      font-size: 18px;
    }
  }

  @media (max-width: 600px) {
    .container {
      padding: 20px 20px 50px;
    }
  }
}

.trust {
  margin: 0 10px;
  position: relative;
  z-index: 1;
  background-color: #eaeaea;
  border-radius: 25px;

  @include pc {
    background-color: black;
    margin: 0;
    padding: 0 10px;
    .container {
      background-color: #eaeaea;
      border-radius: 25px;
    }
  }

  h2 {
    margin-bottom: 20px;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    @include tablet() {
      grid-template: auto / 1fr;
      gap: 30px;
      margin-top: 30px;
    }

    @include mobile() {
      gap: 20px
    }
  }

  li {
    @include shadow_box();
    border-radius: 16px;
    padding: 2rem;
    @include mobile() {
      padding: 14px;
    }
  }

  &__header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 1rem;
    @include mobile-min() {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__icon {
    @include shadow_box();
    padding: 12px;
    border-radius: 14px;
    @include tablet() {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  button {
    @include greenBtn();
    margin: 0 auto;
    padding: 24px 48px;
  }
}

.free {
  position: relative;
  height: 100vh;
  .container {
    position: fixed;
    top: 0;
    z-index: 0;
    background-color: black;
    // padding: 10vh 20px;
    padding: 20px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  h2 {
    text-align: left;

    .smaller_text {
      font-size: 2rem;
    }
  }

  h3 {
    font-weight: 400;
    // margin: 3.75rem 0 1.5rem;
    width: 60%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(10px);
  }

  p {
    font-size: 1.5rem;
    width: 60%;
    font-weight: 100;
  }

  button {
    @include greenBtn();
    width: fit-content;
    // margin-top: 3rem;
  }

  img {
    position: absolute;
    width: 500px;
    right: 20px;
    bottom: 40%;
    transform: translateY(50%);
  }

  @media (max-width: 1100px) {
    img {
      width: 500px;
    }

    p {
      width: 50%;
    }
  }

  @include laptop() {
    img {
      width: 400px;
      top: auto;
      bottom: 20px;
      transform: unset;
      right: 20px;
    }

    .container {
      justify-content: center;
      gap: 40px;
    }

    h3 {
      width: 100%;
      // margin: 30px 0;
    }

    p {
      width: 50%;
    }
  }

  @include tablet() {
    height: 70vh;
    img {
      width: 200px;
    }
    p {
      width: 100%;
      position: relative;
      z-index: 1;
      backdrop-filter: blur(20px);
    }

    h2 {
      .smaller_text {
        font-size: 1.5rem;
      }
    }

    h3 {
      position: relative;
      z-index: 1;
      backdrop-filter: blur(20px);
      font-size: 1.5rem;
    }
  }

  @include mobile() {
    img {
      display: none;
    }

    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}

.partner {
  background-color: #eaeaea;
  margin: 0 10px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  h2 {
    margin-bottom: 20px;
  }
  ul {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    gap: 50px;

    @media (max-width: 1100px) {
      grid-template: auto / 1fr;
    }

    @include tablet() {
      gap: 30px;
      margin-top: 30px;
    }

    @include mobile() {
      gap: 20px
    }

    li {
      @include shadow_box();
      padding: 1.5rem;
      border-radius: 20px;

      p {
        font-size: 18px;
      }

      &:nth-child(4) {
        width: 158%;
      }
      &:nth-child(5) {
        width: 158%;
        position: relative;
        left: 55%;
      }

      @media (max-width: 1100px) {
        &:nth-child(4) {
          width: auto;
        }
        &:nth-child(5) {
          width: auto;
          left: 0;
        }
      }

      @include tablet() {
        p {

          font-size: 16px;
        }
      }

      @include mobile() {
        p {
          font-size: 1rem;
        }
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.25rem;
    @include mobile() {
      margin-bottom: 10px;
    }
    @include mobile-min() {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  button {
    @include greenBtn();
    margin: 0 auto;
  }
}

.comfort {
  color: white;
  position: relative;
  height: 100vh;
  .container {
    padding: 0 20px;
    position: fixed;
    background-color: black;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  h2 {
    text-align: left;
  }

  p {
    font-size: 2rem;
    width: 50%;
  }

  button {
    @include greenBtn();
  }

  img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: 1100px) {
    img {
      width: 500px;
    }
  }

  @include laptop() {
    .container {
      // padding: 20px;
    }
    p {
      width: 100%;
    }
    img {
      top: auto;
      transform: unset;
      bottom: -50px;
      width: 300px;
    }
  }

  @include tablet() {
    height: 70vh;
    .container {
      justify-content: center;
      gap: 40px;
    }

    p {
      font-size: 1.5rem;
    }

    img {
      // display: none;
    }
  }

  @include mobile() {
    img {
      display: none;
    }
    p {
      font-size: 16px;
    }
  }
}

.price {
  background-color: #eaeaea;
  margin: 0 10px;
  border-radius: 25px;
  position: relative;
  z-index: 1;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 5rem 0 3rem;
    @include tablet() {
      grid-template-columns: repeat(2, 1fr);
      margin: 30px 0;
      gap: 20px;
    }
    @include mobile() {
      gap: 20px;
    }

    @include mobile-mid() {
      grid-template-columns: 1fr;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  label {
    @include shadow_box();
    border-radius: 16px;
    padding: 20px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 30px;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include mobile() {
      padding: 16px 12px;
    }
  }

  .checkbox-input {
    display: none;
    &:checked + label .checkbox {
      &:after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .checkbox {
    border-radius: 50%;
    background: linear-gradient(
      90deg,
      rgba(255, 249, 249, 0.385) 0%,
      rgba(255, 255, 255, 0.55) 86.5%
    );
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.05),
      inset 5px 5px 10px rgba(0, 0, 0, 0.25);

    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: 0.3s;
      background: linear-gradient(
        90deg,
        rgba(4, 212, 4, 0.385) 0%,
        rgba(4, 212, 4, 0.55) 86.5%
      );
      box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.05),
        inset 5px 5px 10px rgba(0, 0, 0, 0.25);
    }

    @include mobile() {
      width: 20px;
      height: 20px;
      &::after {
        width: 20px;
        height: 20px;
      }
    }
  }

  button {
    @include greenBtn();
    margin: 0 auto;
  }
}

.segments {
  background-color: black;
  position: relative;
  z-index: 1;
  color: white;

  &__main {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    a {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 14px 20px;
      gap: 20px;
    }
    img {
      width: 60px;
    }

    @include tablet() {
    grid-template-columns: repeat(2, 1fr);

    }

    @include mobile() {
      grid-template-columns: 1fr;
    }
  }
}

.faq {
  background-color: black;
  position: relative;
  z-index: 1;
  color: white;
  @media (min-width: 1200px) {
    min-height: 100vh;
    height: auto;
  }
  .gradient-container {
    margin: 0 auto;
    max-width: 1200px;
    @media (min-width: 1200px) {
      min-height: 100vh;
      height: auto;
    }
  }

  .container {
    padding: 20px;
    position: relative;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 40px;
    @media (min-width: 1200px) {
      min-height: 100vh;
      height: auto;
    }
    @include mobile() {
      padding: 40px 10px;
    }
  }

  .fp-watermark {
    opacity: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // height: 100%;
    position: relative;
  }

  &__card {
    background-color: $gray;
    border: 1px solid $border_gray;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    list-style-type: none;
    position: relative;
  }

  &__header {
    padding: 20px 24px;
    display: grid;
    grid-template-columns: 28px 1fr;
    gap: 20px;
    align-items: center;
    @include tablet() {
      padding: 12px 16px;
    }
  }

  &__main {
    transition: 0.5s;
    height: 100%;
    max-height: 0;
    padding: 0 24px;
    @include tablet() {
      padding: 0 16px;
    }

    p {
      font-size: 1.125rem;
      padding-left: 48px;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    a {
      width: 100%;
      padding: 16px 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      justify-content: center;
      text-align: center;
    }
    a:nth-child(1) {
      @include grayBtn();
    }
    a:nth-child(2) {
      @include greenBtn();
    }
    @include tablet() {
      flex-direction: column;
      gap: 20px;
    }
  }
  .plus-icon {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    transition: 0.5s;
    &--vertical-line,
    &--horizontal-line {
      position: absolute;
      background-color: black;
      left: 50%;
      top: 50%;
      transition: 0.5s;
      transform: translate(-50%, -50%);
    }
    &--vertical-line {
      width: 1px;
      height: 50%;
    }
    &--horizontal-line {
      width: 50%;
      height: 1px;
    }
    &.active {
      rotate: 360deg;
      background: $greenGradient;
      .plus-icon--vertical-line {
        width: 0;
        height: 0;
      }
    }
  }
}

.slideIn_left {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
  animation-name: slideOut-left;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  opacity: 0;
  visibility: visible;
  background-color: black;
  padding: 10px;

  width: 100%;
  height: 100%;

  h2 {
    text-align: left;
    font-size: 32px;
    @include tablet() {
      font-size: 24px;
    }
    @include mobile() {
      font-size: 20px;
    }
  }

  .gradient-container {
    height: 100% !important;
  }

  .container {
    background-color: $black;
    border-radius: 10px;
    min-height: auto;
    overflow: auto;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  &.active {
    animation-name: slideIn-left;
  }
}

.consultation {
  .container {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 50px;
    align-items: center;

    height: 100%;
    @include tablet() {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: end;
      overflow: auto;
      gap: 0;
    }
  }

  &__form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .b24-form {
    position: relative;
    z-index: 1;
    * {
      background-color: transparent !important;
      font-family: "Montserrat", sans-serif;
    }
  }

  .b24-form-wrapper {
    max-width: 100%;
  }

  .b24-form-content {
    padding: 0;
  }

  .b24-form-control {
    border: 1px solid $border_gray !important;
    backdrop-filter: blur(10px);
    &:focus {
      background-color: #0a0a0a !important;
    }
  }

  .b24-form-btn {
    background-color: white !important;
    color: black;
    border: 1px solid;
    border-color: black;
    font-size: 16px;
    &:hover {
      color: white;
      background-color: black !important;
      border-color: white;
    }
    @include laptop() {
      &:hover {
        background-color: white !important;
        color: black;
        border-color: white;
      }
    }
  }

  #video {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    @include tablet() {
      width: 70%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &__back-btn {
    @include goBack-btn();
    width: fit-content;
  }
}

@keyframes slideIn-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes slideOut-left {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
