// РАЗРЕШЕНИЯ

@mixin pc {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 525px) {
    @content;
  }
}

@mixin mobile-mid {
  @media (max-width: 425px) {
    @content;
  }
}

// ЦВЕТА
$transparent_red: #e8dbdb;

// ВСПОМОГАТЕЛЬНЫЕ ЭЛЕМЕНТЫ

$greenGradient: linear-gradient(to right, #04d404 4.77%, #026e02 94.98%);
$grayGradient: linear-gradient(to bottom, #ffffff33 10%, #ffffff10 80%);

@mixin grayBtn {
  background-color: #0f0f0f;
  border: 1px solid #ffffff14;
  border-radius: 10px;
}
@mixin greenBtn {
  border: none;
  background: $greenGradient;
  border-radius: 10px;
}

.gradient-container {
  width: 100%;
  height: 100%;
  padding: 2px;
  position: relative;
}

@mixin gradient_border($color) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: $color;
  z-index: 0;
  transition: 0.3s;
}

.gradient-border {
  @include gradient_border($grayGradient);
}

.hide_on_mobile {
  display: none !important;
}

.hide_on_laptop {
  @include laptop() {
    display: none !important;
  }
}

.hide_on_tablet {
  @include tablet() {
    display: none !important;
  }
}

@mixin slider() {
  @include tablet() {
    padding-bottom: 20px;
  }
  .swiper-pagination {
    display: none;
    top: auto;
    bottom: 0px;
    @include tablet() {
      display: block;
      align-items: center;
    }
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 2px;
    background-color: #808080;
    border-radius: 10px;
    transition: 0.3s;
    &-active {
      width: 40px;
      background-color: black;
    }
  }
}

// ОБЩИЕ СТИЛИ

* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

@include tablet {
  html {
    font-size: 14px;
  }
}
@include mobile {
  html {
    font-size: 12px;
  }
}

body {
  position: relative;
  background: black;
  color: #f5f5f5;
}

button {
  cursor: pointer;
  color: #f5f5f5;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  transition: 0.3s;
  &:active {
    scale: 0.95;
    + .gradient-border {
      scale: 0.95;
    }
  }
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
.bold-text {
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  @include pc {
    font-size: 2rem;
  }
  @include tablet() {
    text-align: center;
  }
  @include mobile() {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.75rem;
  // @include tablet() {
  //   font-size: 2rem;
  // }
  // @include mobile() {
  //   font-size: 1.5rem;
  // }
}

#placeForMobileContent {
  display: none;
  @include pc() {
    display: block;
  }
}

.container {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  // border: 1px solid #0f0f0f;
  // border-radius: 20px;
  outline: 1px solid red;
  border: 1px solid green;
  @include tablet() {
    padding: 10px;
  }
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

#homePageSwiper {
  overflow-y: auto;
  .swiper-wrapper {
    .swiper-slide {
      overflow-y: auto;
    }
    .bordered_slide {
      padding: 10px;
      height: 100dvh;
    }
  }
}

.homepage {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #0f0f0f;
  border-radius: 20px;
  @include tablet() {
    height: 100%;
  }

  .container {
    height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr;
    @include tablet() {
      height: auto;
    }
  }

  &-background-text {
    position: absolute;
    width: 100%;
    background-color: red;
    left: 0;
    top: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 130px;
    text-align: center;
    background: linear-gradient(
      180deg,
      #ffffff 50%,
      rgba(255, 255, 255, 0) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.04;
    z-index: 0;
    @media (max-width: 1200px) {
      font-size: 96px;
    }
    @media (max-width: 850px) {
      font-size: 80px;
    }

    @media (max-width: 720px) {
      font-size: 58px;
    }
    @include mobile() {
      font-size: 46px;
    }
    @media (max-width: 425px) {
      font-size: 40px;
    }
    @media (max-width: 375px) {
      font-size: 34px;
    }
  }

  &__header {
    display: grid;
    grid-template-rows: 1fr 0.3fr 0.1fr;
    height: 100%;
    align-items: center;
    justify-content: center;
    &-logo-wrapper {
      max-width: 500px;
      width: 100%;
      height: 100%;
      margin: auto;
      position: relative;
      img,
      video {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        aspect-ratio: 1 / 1;
        mix-blend-mode: screen; /* Применяем режим смешивания */
      }
      video {
        width: 100%;
      }
    }
    h1 {
      text-align: center;
      font-size: 2.25rem;
    }
    p {
      text-align: center;
      margin-top: 10px;
    }
    &-btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-top: 20px;

      @include mobile() {
        grid-template: repeat(2, 1fr) / 1fr;
        gap: 12px;
      }

      button {
        padding: 12px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 600;
        font-size: 14px;
        transition: 0.3s;
        &:active {
          scale: 0.95;
        }
        @include mobile() {
          padding: 16px;
          font-size: 16px;
        }
        @media (max-width: 350px) {
          font-size: 14px;
          padding: 16px 10px;
        }
      }
      &--free-consultation {
        background-color: white;
        border: none;
        color: black;
      }
      &--contact-us {
        background-color: #ffffff0f;
        border: 1px solid #ffffff29;
      }
    }
  }
  &__main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    &__card {
      position: relative;
      padding: 2px;
      border-radius: 10px;

      button {
        border: none;
        outline: none;
        background-color: #0f0f0f;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 24px;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        transition: 0.3s;
        &:active {
          scale: 0.95;
        }
        @include laptop {
          padding: 15px;
          gap: 15px;
        }
        @include tablet {
          padding: 10px;
          gap: 10px;
        }
      }
      img {
        width: 60px;
        @include mobile() {
          width: 50px;
        }
      }
    }

    @include tablet {
      // grid-template-columns: 1fr 1fr 1fr;s
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.consultation {
  height: 100dvh;
  width: 100%;
  padding: 10px;
  position: fixed;
  background-color: black;
  top: 0;
  left: -100%;
  z-index: 10;
  transition: 0.6s;

  &.active {
    left: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    border: 1px solid #0f0f0f;
    border-radius: 20px;

    @include tablet() {
      flex-direction: column;
    }
  }
  #video {
    width: 100%;
    height: 100%;
  }

  &__back-btn {
    background-color: transparent;
    color: #f5f5f5;
  }
}

.main-block {
  @include pc {
    height: auto !important;
  }

  #main-block__swiper-wrapper {
    flex-direction: column;
  }

  & > .swiper-slide {
    height: 100vh !important;
    @include pc {
      height: auto !important;
    }
  }
}

.hero {
  background-color: black;

  .container {
    display: grid;
    grid-template: auto 0.4fr / repeat(2, 1fr);
    gap: 20px;
    column-gap: 50px;
    align-items: center;
    @include tablet() {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__main-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-size: 2.5rem;
      @include laptop() {
        font-size: 1.9rem;
      }
    }
  }

  &__back-btn {
    width: fit-content;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: #0f0f0f;
    border: 1px solid #ffffff14;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
  }

  &__btns {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 55px;
    @include mobile() {
      flex-direction: column;
      height: auto;
    }
    button {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-weight: 600;
      font-size: 1rem;
      padding: 0 10px;
      @include mobile() {
        padding: 16px 48px;
      }
      &:first-child {
        @include greenBtn;
      }
      &:nth-last-child(1) {
        @include grayBtn;
      }
    }
  }

  &__graph-img {
    max-width: 400px;
    height: auto;
    margin-left: auto;
    @include tablet() {
      // max-width: 100%;
      margin: auto;
    }
  }

  &__statistics {
    grid-column-start: 2 span;

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    @include tablet() {
      grid-column-start: auto;
    }
    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
    &__card {
      display: flex;
      flex-direction: column;
      width: fit-content;
      padding: 0 10px;
      @include laptop() {
        align-items: center;
      }
      @include mobile() {
        align-items: flex-start;
      }

      span {
        @include laptop() {
          text-align: center;
        }
        @include mobile() {
          text-align: left;
        }
        &:first-child {
          font-size: 6.25rem;
          font-weight: 600;
          @include pc {
            font-size: 5.25rem;
          }
          @include laptop() {
            font-size: 4.2rem;
          }
          @include tablet() {
            font-size: 3rem;
          }
          @include mobile() {
            font-size: 64px;
          }
        }
        &:last-child {
          opacity: 0.6;
          color: white;
          font-size: 1.25rem;
          font-weight: 400;
        }
      }
    }
    &--vertical-line {
      width: 2px;
      background-color: #ffffff47;
      display: block;
      @include mobile() {
        width: 100%;
        height: 1px;
      }
    }
  }
}

.pain-block {
  background-color: #eaeaea;
  color: black;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    @include tablet() {
      gap: 20px;
      padding: 10px 0;
    }
  }

  .swiper {
    @include slider();
    height: auto !important;
    padding: 10px 0;
    @include tablet() {
      padding: 0 10px 20px;
    }

    &-wrapper {
      @media (min-width: 769px) {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        flex-direction: column;
        align-items: center;
        gap: 30px;
      }
    }
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto !important;
    gap: 50px;
    position: relative;
    overflow: hidden !important;
    font-size: 1rem;

    img {
      aspect-ratio: 1 /1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      height: 50px;
      width: fit-content;
    }

    @include laptop() {
      padding: 5px;
      font-size: 0.875rem;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
    }

    @include tablet() {
      gap: 20px;
      padding: 0;
      font-size: 16px;
    }
    @include mobile-mid() {
      display: flex;
      flex-direction: column;
    }
  }
  &__pain {
    border: 1px solid #ce0000;
    border-radius: 20px;
    padding: 1rem;
    font-weight: 500;
    background-color: #ce000010;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__header {
    padding: 12px 24px;
    border-radius: 12px;
    color: #f5f5f5;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ce0000;
    @include laptop() {
      padding: 6px 16px !important;
    }
    @include tablet() {
      padding: 12px 24px;
    }
  }

  &__solution {
    background-color: #05a9050a;
    border: 1px solid #05a90533;
    font-weight: 500;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .pain-block__header {
      border: none;
      border-bottom: 1px solid #04d404;
      color: #04d404;
      background-color: transparent;
      border-radius: 0;
      padding: 12px 0;
    }
  }
  &__btns {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    @include laptop() {
      gap: 50px;
    }
    @include tablet() {
      gap: 20px;
      padding: 0 10px;
      grid-template: 1fr 1fr / 1fr;
    }
    .gradient-border {
      @include gradient_border($greenGradient);
    }
    button {
      border: none;
      background-color: #eaeaea;
      position: relative;
      border-radius: 9px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-weight: 500;
      font-size: 16px;
      color: black;
      padding: 14px 10px;
      z-index: 1;
      &:last-child {
        background: $greenGradient;
        color: #eaeaea;
      }
    }
  }
}

.possibilities-block {
  background-color: #eaeaea;
  color: black;

  h2 {
    @include mobile() {
      padding: 0 10px;
    }
  }

  .swiper {
    @include slider();
    @include mobile() {
      padding: 0 20px 10px;
    }
    &-wrapper {
      @media (min-width: 526px) {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
      }
    }
  }

  .container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    @include mobile() {
      padding: 10px 0;
    }
  }

  &__card {
    height: auto !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #c2c2c2;
    &:nth-last-child(1) {
      border: none;
      @include tablet() {
        border-bottom: 1px solid #c2c2c2;
      }
    }
    @include pc {
      height: auto !important;
    }

    @include tablet() {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  &__header {
    display: flex;
    gap: 20px;
    align-items: center;
    h3 {
      font-weight: 500;
    }
    @include tablet() {
      display: block;
      width: 100%;
      svg {
        width: 40px;
        height: 40px;
        display: inline;
        float: right;
        margin-left: 10px;
      }
    }
  }

  &__main {
    font-size: 14px;
  }
}

.implementation-block {
  background-color: black;
  .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    @include tablet() {
      padding: 10px;
    }
  }

  h2 {
    margin-bottom: 20px;
    @include tablet() {
      padding: 0 10px;
    }
  }

  .swiper {
    @include slider();
    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      column-gap: 100px;
      row-gap: 70px;
      @media (max-width: 1024px) {
        // gap: 50px;
      }
      @include tablet() {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      @include mobile() {
        flex-direction: row;
        gap: 0;
      }
    }
    &-pagination-bullet {
      &-active {
        background-color: white !important;
      }
    }
  }

  .gradient-container {
    overflow: visible !important;
    height: 240px;
    
    @include pc {
    height: 100%;
    
  }      
    
    @media (min-width: 769px) {

      &:nth-child(1) {
        grid-area: 1/1;
        justify-self: end;
        align-self: flex-end;
      }

      &:nth-child(2) {
        grid-area: 2/1/2/3;
        width: 50%;
        transform: translateX(-10%);
        &::before {
          transform: scale(1, -1);
          top: -20%;
        }
      }

      &:nth-child(3) {
        align-self: flex-end;
        grid-area: 1/2;
      }

      &:nth-child(4) {
        grid-column-start: 1.5 span;
        grid-area: 2/2/2/4 !important;
        width: 50%;
        transform: translateX(10%);

        &::before {
          transform: scale(1, -1);
          top: -20%;
        }
      }

      &:nth-child(5) {
        align-self: flex-end;
        grid-area: 1/3;
      }

      &::before {
        content: "";
        background-image: url("https://static.tildacdn.com/tild3733-3064-4738-b664-623465386261/arrow-gradient.svg");
        width: 80px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: -85px;
        z-index: -1;
        // @media (max-width: 1024px) {
        // display: none;
        // }
      }
    }
  }

  &__card {
    background-color: #0f0f0f;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;

    .gradient-border {
      @include gradient_border($grayGradient);
    }
    @include tablet() {
      display: grid;
      grid-template: 1fr 1fr / 1fr auto;
    }

    @include mobile() {
      display: flex;
    }
  }

  &__number {
    width: 3.75rem;
    height: 3.75rem;
    display: grid;
    place-items: center;
    background-color: #181818;
    border: 1px solid #ffffff29;
    border-radius: 10px;
    font-size: 1.75rem;
    font-weight: 900;

    @include tablet() {
      grid-area: 1/2;
      grid-row-start: 2 span;
      align-self: center;
    }

    @include mobile() {
      align-self: flex-start;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 500;

    @include tablet() {
      align-self: center;
      grid-area: 1/1;
      font-size: 16px;
    }

    @include mobile() {
      align-self: flex-start;
    }
  }

  p {
    font-size: 16px;

    @include tablet() {
      grid-area: 2/1/2/1;
      font-size: 14px;
    }
  }

  &__btns {
    display: flex;
    gap: 20px;
    justify-content: center;
    button {
      border: none;
      padding: 10px 0 5px;
      border-bottom: 1px solid #808080;
    }

  }
}
